/* main.css */

:root {
    --bg-color: #333;
    --hover-color: #555;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: #fff;
}

#container {
    display: flex;
    height: 100vh;
}

#leftControlPanel {
    width: 200px;
    background-color: var(--bg-color);
    padding: 20px;
    box-sizing: border-box;
    position: relative; /* 添加相对定位 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 垂直方向居中 */
}

#content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

#messageContainer {
    border: 1px solid #666;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    background-color: var(--bg-color);
    color: #fff;
    margin-bottom: 10px;
}

#inputContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    padding: 10px;
    margin-bottom: 10px;
}

#toolBar {
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
}

.toolButton {
    padding: 5px;
    cursor: pointer;
    margin-right: 10px;
    border: none;
    background-color: transparent;
}

.toolButton img {
    width: 20px;
    height: 20px;
}

/* 添加新样式规则 */
#controlElements {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #555; /* 添加下划线 */
}

.button {
    padding: 5px;
    cursor: pointer;
    border: none;
    font-size: 14px;
}

.button:hover {
    background-color: var(--hover-color);
}

#messageButton, #contactsButton, #settingsButton {
    background-color: var(--bg-color);
    color: #fff;
}

#messageButton:hover, #contactsButton:hover, #settingsButton:hover {
    background-color: var(--hover-color);
}

#msgSearchInput, #friendSearchInput {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #444; /* 添加的样式 */
    color: #fff; /* 添加的样式 */
    border: 1px solid #666; /* 添加的样式 */
}

#messageInput {
    width: 100%; /* 与父容器相同的宽度 */
    height: 220px; /* 设置高度为 220px */
    box-sizing: border-box; /* 包括 padding 和 border 在内的盒模型 */
    resize: none; /* 禁止用户调整大小 */
}

#friendListContent {
    overflow-y: auto;
}

#settingsMenu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: var(--bg-color);
    padding: 10px;
    box-sizing: border-box;
}

.settingsMenuItem {
    cursor: pointer;
    color: #fff;
    margin-bottom: 5px;
}

.settingsMenuItem:hover {
    color: var(--hover-color);
}