/* main.css */

:root {
    --bg-color: #333;
    --hover-color: #555;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: #fff;
}

#container {
    display: flex;
    height: 100vh;
}

#leftControlPanel {
    width: 200px;
    background-color: var(--bg-color);
    padding: 20px;
    box-sizing: border-box;
    position: relative; /* 添加相对定位 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 垂直方向居中 */
}

#content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

#messageContainer {
    border: 1px solid #666;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    background-color: var(--bg-color);
    color: #fff;
    margin-bottom: 10px;
}

#inputContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    padding: 10px;
    margin-bottom: 10px;
}

#toolBar {
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
}

.toolButton {
    padding: 5px;
    cursor: pointer;
    margin-right: 10px;
    border: none;
    background-color: transparent;
}

.toolButton img {
    width: 20px;
    height: 20px;
}

/* 添加新样式规则 */
#controlElements {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #555; /* 添加下划线 */
}

.button {
    padding: 5px;
    cursor: pointer;
    border: none;
    font-size: 14px;
}

.button:hover {
    background-color: var(--hover-color);
}

#messageButton, #contactsButton, #settingsButton {
    background-color: var(--bg-color);
    color: #fff;
}

#messageButton:hover, #contactsButton:hover, #settingsButton:hover {
    background-color: var(--hover-color);
}

#msgSearchInput, #friendSearchInput {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #444; /* 添加的样式 */
    color: #fff; /* 添加的样式 */
    border: 1px solid #666; /* 添加的样式 */
}

#messageInput {
    width: 100%; /* 与父容器相同的宽度 */
    height: 220px; /* 设置高度为 220px */
    box-sizing: border-box; /* 包括 padding 和 border 在内的盒模型 */
    resize: none; /* 禁止用户调整大小 */
}

#friendListContent {
    overflow-y: auto;
}

#settingsMenu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: var(--bg-color);
    padding: 10px;
    box-sizing: border-box;
}

.settingsMenuItem {
    cursor: pointer;
    color: #fff;
    margin-bottom: 5px;
}

.settingsMenuItem:hover {
    color: var(--hover-color);
}


/* 根据修改更新样式规则 */
#passwordDialog {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

#passwordDialog .close {
    color: #ecf0f1;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#passwordDialog .close:hover {
    cursor: pointer;
}

#passwordDialog .input-container {
    margin-bottom: 15px;
}

#passwordDialog input {
    width: calc(100% - 10px);
    padding: 10px;
    box-sizing: border-box;
}

#passwordDialog .modal-content {
    background-color: #3498db;
    margin: 10% auto; /* 调整 margin */
    padding: 20px;
    border: 1px solid #2c3e50;
    width: 24%; /* 缩小长度 */
    border-radius: 5px;
    color: #ecf0f1;
}

#passwordDialog button {
    padding: 10px 20px; /* 增加确认按钮长度 */
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#passwordDialog #confirmButton {
    background-color: #2ecc71;
    color: #ecf0f1;
}

#passwordDialog #cancelButton {
    background-color: #e74c3c;
    color: #ecf0f1;
}

#passwordDialog .button-container {
    display: flex;
    justify-content: center; /* 居中按钮 */
    margin-top: 20px; /* 增加间隔 */
}
#passwordDialog .error-text {
    color: #e74c3c; /* 红色，用于显明错误信息 */
    display: none; /* 默认不显示 */
    margin-top: 10px; /* 增加间隔 */
    text-align: center; /* 居中显示 */
}
